@model IEnumerable<DDAC2.Models.CarModel>
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="card-deck">
    @foreach (var item in Model)
    {
    <div class="card">
        <img class="card-img-top" src=@item.PictureUrl alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@item.CarMake</h5>
            <p class="card-text">@item.CarName</p>
            <p class="card-text"><small class="text-muted">RM. @item.Price</small></p>
        </div>
    </div>
    }
</div>
